* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: blanchedalmond;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
article {
  border: 1px solid black;
}

img {
  height: 70%;
  object-fit: cover;
  width: 70%;
}
h4 {
  margin: 0.25rem;
  color: rgb(56, 56, 170);
}
